*, *::before, *::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
:root {
	--alap: #000000;
	--fehér: #ffffff;
	--kék: #1f56cd;
	--fekete: #000000;
	--szürke: #d4dde0;
    --vilkék: #e0fbff;
	
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
	text-decoration: none;
	color: var(--fekete);
	&:hover {
		text-decoration: underline;
	}
}

header {
	padding-top:10px;
	padding-bottom:10px;
	display:flex;
	justify-content:space-between;
	max-width:1440px;
	margin:auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	.logo-holder {
		display:flex;
		padding:10px;
		align-items:center;
		font-weight:600;
		color: var(--alap);
		
		.logo {
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:32px;
			background-color: var(--alap);
			color: var(--fehér);
			height:64px;
			width:64px;
			margin-right:20px;
			border-radius:50%;
		}
		.logo-text {
			flex:1;
            
		}
	}

	nav {
		display:flex;
		align-items:center;
		ul {
			display:flex;
			list-style-type: none;
			gap:5px;
			li {
				display:inline-block;
				a {
					display:inline-block;
					padding:10px 20px;
					color:var(--alap);
					&:hover {
						background-color: var(--szürke);
						border-radius:10px;
						text-decoration:none;
					}
				}
			}
		}
		.mobile-toggle {
			display:none;
			color:var(--alap);
			padding:10px;
			@media (max-width:768px){
				display:inline-block;
				position:absolute;
				top:20px;
				right:20px;
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction:column;
		align-items:center;
	}

	@media (max-width: 768px) {
		flex-direction:column;
		align-items:center;
		nav {
			margin-top:10px;
			width:100%;
			ul {
				display:none;
				flex-direction:column;
				text-align:center;
				width:100%;
				a {
					width:100%;
				}
				&.active {
					display:flex;
				}
			}
		}
	}
}
section {
	max-width:1440px;
	margin:auto;
	gap:30px;
	margin-top:30px;
	margin-bottom:30px;

	@media (max-width:1440px){
		padding-left:30px;
		padding-right:30px;
	}
}
.hero {
	display:flex;
	@media (max-width:1024px){
		flex-direction:column;
	}
	.hero-bal {
        
		flex:1;
		background-color: var(--alap);
		border-radius:30px;
		padding:30px;
		display:flex;
		flex-direction:column;
		justify-content:center;
		span {
			@media (max-width:768px){
				display:none;
			}
		}
		.call-to-action {
			margin-top:20px;
			margin-bottom:10px;
			a {
				margin-right:10px;
				margin-bottom:10px;
			}
		}
		
	}
	.hero-jobb {
		flex:1;
		background-color: var(--kék);
		border-radius:30px;
		padding:0px 30px;
		display:flex;
		justify-content:center;
		align-items:flex-end;
		img {
			margin-top:-60px;
			max-width:420px;
			margin-bottom:0px;
		}
	}
}
.button {
	display:inline-block;
	padding:10px 30px;
	background-color: var(--fehér);
	color: var(--fekete);
	border-radius:10px;
	transition: ease 0.3s all;
	&:hover {
		text-decoration:none;
		background-color: var(--kék);
	}
}
p{
    color: #ffffff;
}

h1 {
    color: var(--fehér);
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	small {
		display:block;
		font-weight:100;
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}

h2 {
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	text-align:center;
	color: var(--base-800);
	padding:30px;
	small {
		display:block;
		font-weight:100;
		font-size:0.5em;
		color:var(--base);
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}

.iskolak {
	.sulik {
		display:flex;
		gap:30px;
		@media(max-width:1024px){
			flex-direction:column;
		}
		article {
			background-color: var(--vilkék);
			padding:30px;
			border-radius:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--fekete);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--fehér);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}

.hobbik {
	.hobbik-grid {
		display:grid;
		grid-gap:30px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height:960px;
		@media(max-width:1024px){
			grid-template-rows: repeat(8, 1fr);
		}
		@media(max-width:768px){
			display:flex;
			flex-direction:column;
			gap:30px;
			height:auto;
		}
		.hobbi-item {
			padding:30px;
			background-color: var(--vilkék);
			border-radius:15px;
			position:relative;
			overflow:hidden;
			img {
				position:absolute;
				top:0;
				left:0;
				height:100%;
				object-fit:cover;
				transition: ease 3s all;
			}
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
			@media(max-width:768px){
				height:240px;
			}
			&:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			&:nth-child(2) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(3) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(4) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 4;
				}
			}
			&:nth-child(5) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(6) {
				grid-column: span 5;
				grid-row: span 3;
				@media(max-width:1024px){
					grid-column: span 5;
					grid-row: span 2;
				}
			}
		}
	}
}

    
